@import url(fonts.css);

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

ul {
    list-style: none;
}

a {
    text-decoration: none;
}

body {
    font-family: "Playfair";
    user-select: none;
}

.container {
    max-width: 1140px;
    width: 100%;
    padding: 0 15px;
    margin: 0 auto;
}

.title {
    font-weight: 400;
    font-size: 50px;
    line-height: 67px;
    text-align: center;

    color: #000000;
}


.header__nav .container {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.header__nav {
    padding: 25px 0;
}
.header__icon{
    width: 50px;
    height: 50px;
    display: none;
}
.header__menu {
    display: flex;
    column-gap: 40px;
}

.header__link {
    display: block;
    font-weight: 400;
    font-size: 12px;
    line-height: 16px;
    /* identical to box height */


    color: #000000;
    text-transform: uppercase;
}

.arrow {
    width: 8px;
    height: 4px;
    margin-left: 4px;
}

.header__input {
    border: 1px solid #41A28E;
    outline: none;
    max-width: 180px;
    width: 100%;
    padding: 6px 12px;
    height: 28px;
}

::placeholder {
    font-family: 'Roboto';
    font-weight: 400;
    font-size: 14px;
    line-height: 16px;
    color: #4B4848;
}

.header__btn {
    background: #41A28E;
    padding: 7px;
    border: none;
    width: 28px;
    height: 28px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: 4px;
    cursor: pointer;

}

.header__form {
    display: flex;
    align-items: center;
}

.header__menu li {
    position: relative;
}

.link3:focus~.header__dropdown {
    opacity: 1;
}

.header__dropdown {
    min-height: 120px;
    width: 160px;
    position: absolute;
    bottom: -130px;
    left: 0;
    background: #FFFFFF;
    border: 1px solid #E5E5E5;
    border-radius: 2px;
    opacity: 0;
    transition: 500ms;
    z-index: 3293;
}

.header__dropdown-link {
    padding: 12px 30px;
    display: block;
    transition: 500ms;
    border-bottom: 1px solid #E5E5E5;
}
.header__dropdown-link:hover{
    background: #41A28E;
    color: white;
}

.header__banner {
    position: relative;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.header__banner-img {
    position: absolute;
    top: 0;
    left: 0;
    z-index: -8;
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.header__title {
    background: rgba(0, 0, 0, 0.7);
    padding: 17px 61px 16px 61px;
    font-style: normal;
    font-weight: 400;
    font-size: 50px;
    line-height: 67px;
    color: #FFFFFF;
}

.header__desc {
    font-weight: 400;
    font-size: 22px;
    line-height: 29px;
    color: #FFFFFF;
    text-shadow: 6px 6px 5px rgba(0, 0, 0, 0.38);
    margin-bottom: 50px;
    text-transform: capitalize;
    margin-top: 30px;
}

.header__banner-btn {
    padding: 22px 34px 21px 35px;
    background: #FFFFFF;
    border: none;
    font-family: 'Playfair Display';
    font-style: normal;
    font-weight: 400;
    font-size: 12px;
    line-height: 16px;
    display: flex;
    align-items: center;
    color: #000000;
    text-transform: uppercase;
    transition: 500ms;
    cursor: pointer;
}

.header__banner-btn:hover {
    background: #41A28E;
    color: #FFFFFF;

}

.main__cards {
    margin-bottom: 52px;
    margin-top: 48px;
    display: flex;
    column-gap: 30px;
}

.main__card {
    position: relative;
    max-width: 255px;
    width: 100%;
    min-height: 170px;
    overflow: hidden;
    cursor: pointer;


}

.main__img {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    z-index: -2;

}

.main__span {
    width: 100%;
    min-height: 37px;
    background: rgba(75, 72, 72, 0.7);
    display: block;
    font-weight: 400;
    font-size: 25px;
    line-height: 33px;
    text-align: center;
    color: #FFFFFF;
    position: absolute;
    left: 0;
    bottom: 0;
    transition: 500ms;
}

.main__card:hover .main__span {
    bottom: 0;
}

.just-span {
    bottom: -37px;
}

.main__title {
    margin-bottom: 18px;
}

.main__desc {
    max-width: 496px;
    width: 100%;
    text-align: center
}

.main__content {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.main {
    margin-bottom: 72px;
}

.collection__title {
    color: #FFFFFF;
    margin-bottom: 22px;
    text-transform: capitalize;
    text-align: left;
}

.collection__desc {
    margin-bottom: 3px;
    font-weight: 400;
    font-size: 20px;
    line-height: 27px;

    display: flex;
    align-items: center;
    text-align: center;

    color: #FFFFFF
}

.collection__btn {
    font-weight: 400;
    font-size: 12px;
    line-height: 16px;
    display: flex;
    align-items: center;
    color: #000000;
    padding: 23px 42px;
    border: none;
    text-transform: uppercase;
    background-color: #fff;
    transition: 500ms;
    font-family: 'Playfair Display';

}

.collection__btn:hover {
    background: #41A28E;
    color: #FFFFFF;
}

.collection {
    background: url(../img/collection.jpg) no-repeat center / cover fixed;
    min-height: 404px;
    display: flex;


}

.collection .container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
}

.cards__desc {
    font-family: 'Roboto';
    font-weight: 400;
    font-size: 16px;
    line-height: 19px;
    text-align: center;
    color: #666666;
    max-width: 496px;
    width: 100%;
}

.main__desc {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 19px;
    display: flex;
    align-items: center;
    text-align: center;

    color: #666666;
}

.cards {
    padding-top: 50px;
    padding-bottom: 50px;
}

.cards__title {
    margin-bottom: 16px;
    text-transform: capitalize;
}

.cards__top {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 69px;
}

.card {
    max-width: 255px;
    width: 100%;
    position: relative;
}

.card__box {
    min-height: 340px;
    position: relative;
    overflow: hidden;
    margin-bottom: 43px;

}

.card__box:hover .card__info {
    bottom: 0;
}

.card__img {
    position: absolute;
    top: 0;
    left: 0;
    z-index: -9;
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.card__info {
    background: rgba(0, 0, 0, 0.7);
    min-height: 47px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 20px;
    position: absolute;
    bottom: -47px;
    width: 100%;
    transition: 500ms;
}

.card__span {
    font-family: 'Playfair Display';
    font-style: normal;
    font-weight: 400;
    font-size: 12px;
    line-height: 16px;
    color: #FFFFFF;
    text-transform: uppercase;
}

.card__left {
    display: flex;
    align-items: center;
    column-gap: 15px;
}

.card__right {
    column-gap: 23px;
    display: flex;
    align-items: center;
}

.card__title {
    font-weight: 400;
    font-size: 22px;
    line-height: 29px;

    color: #000000;
    margin-bottom: 6px;
}

.card__price {
    font-family: 'Playfair Display';
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 24px;
    color: #000000;
}

.prices {
    display: flex;
    align-items: center;
}

.first {
    color: #666666;
    margin-right: 15px;
}

.line {

    position: absolute;
    height: 0;
    border: 0.7px solid #919191;
    width: 55px;
}

.cards__bottom {
    display: flex;
    justify-content: space-between;
}

.jigle::after {
    font-family: 'Roboto';
    font-weight: 400;
    font-size: 12px;
    line-height: 14px;

    color: #FFFFFF;
    content: 'OUT OF STOCK';
    padding: 10px 18px;
    background: #4B484B;
    text-align: center;
    position: absolute;
    top: 0;
    left: 0;
}

.kringe::after {
    content: 'SALE';
    background: #4B484B;
    font-family: 'Roboto';
    font-weight: 400;
    font-size: 12px;
    line-height: 14px;
    color: #FFFFFF;
    padding: 10px 18px;
    position: absolute;
    top: 0;
    left: 0;
}

.footer__title {
    font-family: 'Playfair Display';
    font-style: normal;
    font-weight: 400;
    font-size: 24px;
    line-height: 32px;
    color: #FFFFFF;
    text-transform: capitalize;
    margin-bottom: 40px;
}

.footer__top {
    background: #000000;
    padding: 34px 0 46px 0;
}

.footer__link {
    display: block;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 16px;
    text-transform: capitalize;
    color: #FFFFFF;
    margin-bottom: 20px;
}

.sixth {
    margin-bottom: 0;
}

.footer__top .container {
    display: flex;

}

.first {
    margin-right: 83px;
}

.third .footer__link {
    margin-bottom: 0px;
    margin-left: 10px;


}

.third li {
    display: flex;
    align-items: flex-start;
    margin-bottom: 12px;
}

.third {
    margin-left: 54px;
}

.footer__icons {
    display: flex;
    column-gap: 25px;
}

.footer__desc {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 16px;
    color: #FFFFFF;
    max-width: 255px;
    width: 100%;
    margin: 20px 0;
}

.footer__form {
    display: flex;
}

.footer__input {
    max-width: 200px;
    width: 100%;
    padding: 14px 10px;
    border: none;
}

.footer__input::placeholder {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 16px;


    color: #919191;
}

.footer__btn {
    background: #41A28E;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 19px;
    color: #FFFFFF;
    padding: 12px 9px 13px 10px;
    border: none;
}

.fourth {
    margin-left: 113px;
}

.shopping {
    margin-bottom: 0;
}

.footer__bottom {
    background: #121212;
    display: flex;
    justify-content: center;
    padding: 40px 0;
}

.footer__desco {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 21px;
    color: #666666;
}

.footer__h {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 21px;
    display: flex;
    align-items: center;
    color: #666666;
    text-shadow: 0px 0px 4px #E52D27;
    margin-left: 3px;
}